[submodule "node-gif-search-project"]
	path = node-gif-search-project
	url = https://github.com/TasfiaAddrita/node-gif-search-project.git
[submodule "bew-1.3-promise-challenges"]
	path = bew-1.3-promise-challenges
	url = https://github.com/TasfiaAddrita/bew-1.3-promise-challenges
